{% extends "index.html" %}

{% load i18n %}

{% block head_title %}<title>{% trans "Sign Out" %}</title>{% endblock %}

{% block content1 %}
<div class="container">
<div class="container section-title" >
<h2>{% trans "Sign Out" %}</h2>
<br>
<br>


<p>{% trans 'Are you sure you want to sign out?' %}</p>

  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button type="submit" class="site-btn">{% trans 'Sign Out' %}</button>
  </form>
</div>
</div>
{% endblock content1 %}
{% block content2 %}
{% endblock content2 %}

{% block content3 %}
{% endblock content3 %}

{% block content4 %}
{% endblock content4 %}

{% block content5 %}
{% endblock content5 %}

{% block content6 %}
{% endblock content6 %}