{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}<title>{% trans "Change Password" %}</title>{% endblock %}

{% block content1 %}
<div class="container section-title">
    <h2>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>
    <br>
    <br>
    
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="site-btn" type="submit" name="action" value="{% trans 'change password' %}"/>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
{% block content2 %}
{% endblock content2 %}

{% block content3 %}
{% endblock content3 %}

{% block content4 %}
{% endblock content4 %}

{% block content5 %}
{% endblock content5 %}

{% block content6 %}
{% endblock content6 %}
