{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}<title>{% trans "Set Password" %}</title>{% endblock %}

{% block content1 %}
<div class="container section-title">
    <h2>{% trans "Set Password" %}</h2>
    <br>
    <br>


    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="site-btn" type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
</div>
{% endblock %}
{% block content2 %}
{% endblock content2 %}

{% block content3 %}
{% endblock content3 %}

{% block content4 %}
{% endblock content4 %}

{% block content5 %}
{% endblock content5 %}

{% block content6 %}
{% endblock content6 %}

