{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}<title>{% trans "Change Password" %}</title>{% endblock %}

{% block content1 %}
<div class="container section-title">
    

    <h2>{% trans "Change Password" %}</h2>
    <br>
    <br>
    <p>{% trans 'Your password is now changed.' %}</p>
</div>
{% endblock %}
{% block content2 %}
{% endblock content2 %}

{% block content3 %}
{% endblock content3 %}

{% block content4 %}
{% endblock content4 %}

{% block content5 %}
{% endblock content5 %}

{% block content6 %}
{% endblock content6 %}

{% block content7 %}
{% endblock content7 %}