{% extends "Annonce/home.html" %}

{% load i18n %}

{% block head_title %}<title>{% trans "Signup" %}</title>{% endblock %}


{% block content %}

<div class="container align-items-center" >
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>
</div>
{% endblock %}
{% block content1 %}
{% endblock content1 %}

{% block content2 %}
{% endblock content2 %}

{% block content3 %}
{% endblock content3 %}

{% block content5 %}
{% endblock content5 %}

{% block content6 %}
{% endblock content6 %}

{% block content7 %}
{% endblock content7 %}