{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}<title>{% trans "Sign Up Closed" %}</title>{% endblock %}

{% block content1 %}
<div class="container section-title">
    <h2>{% trans "Sign Up Closed" %}</h2>
    <br>
    <br>


    <p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
</div>
{% endblock %}
{% block content2 %}
{% endblock content2 %}

{% block content3 %}
{% endblock content3 %}

{% block content4 %}
{% endblock content4 %}

{% block content5 %}
{% endblock content5 %}

{% block content6 %}
{% endblock content6 %}
