{% extends 'index.html' %}


{% block head_title %} <title> Update Image Artistan </title>{% endblock head_title %}

{% block content1 %}

    <div class="container section-title">

        <h2>Edit Images </h2>
        <br><br>
        <form  class="contact1-form validate-form" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-6">
               
                {{ formset.management_form }}
                {% for form in formset %}
                <div class="checkout__input">
                    <div class="col-xs-6">
                        {{ form }}
                    </div>
                </div>
                {% endfor %}
                
                

            </div>
            
            <button type="submit" class="site-btn">Update</button>
        </form>
    </div>
    


{% endblock content1 %}
{% block content2 %}{% endblock content2 %}
{% block content3 %}{% endblock content3 %}
{% block content4 %}{% endblock content4 %}
{% block content5 %}{% endblock content5 %}
{% block content6 %}{% endblock content6 %}