{% extends 'index.html' %}


{% block head_title %} <title> Update Profil </title>{% endblock head_title %}

{% block content1 %}

    <div class="container section-title">

        <h2>Edit Profil </h2>
        <br><br>
        <form  class="contact1-form validate-form" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            
            
            <button type="submit" class="site-btn">Update</button>
        </form>
    </div>
    


{% endblock content1 %}
{% block content2 %}{% endblock content2 %}
{% block content3 %}{% endblock content3 %}
{% block content4 %}{% endblock content4 %}
{% block content5 %}{% endblock content5 %}
{% block content6 %}{% endblock content6 %}