{% extends "index.html" %}
{% load humanize %}

{% block head_title %}<title>Add annonce</title>{% endblock %}
{% block content1 %}




{% if user.profile == obj_delete.owner %}


<section class="product-details spad">
    <div class="container">
        <div class="signup-form">
            <form method="post">
                {% csrf_token %}
                <div class="section-title">
                <h2 >DELETE</h2>
                </div>
                <p>Are you sure you want to delete "{{ obj_delete.title }}"?</p>
                <input class="site-btn" type="submit" value="Confirm">
            </form>
        </div>
    </div>
    
  </section>
{% endif %}
{% endblock content1 %}
{% block content2 %}{% endblock content2 %}
{% block content3 %}{% endblock content3 %}
{% block content4 %}{% endblock content4 %}
{% block content5 %}{% endblock content5 %}
{% block content6 %}{% endblock content6 %}