{% extends "index.html" %}
{% load humanize %}

{% block head_title %}<title>Add annonce</title>{% endblock %}
{% block content1 %}







<section class="product-details spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title">
            <h2>Detail</h2>
          </div>
  
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="product__details__pic">
            <div class="product__details__pic__item">
              <img class="product__details__pic__item--large" src="{{details.image.all.0.image.url }}" alt="">
            </div>
            <div class="product__details__pic__slider owl-carousel">
              {% for document in details.image.all %}
              <img data-imgbigurl="{{ document.image.url }}" src="{{ document.image.url }}" alt="">
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="product__details__text" style="text-align: left;">
            <h3>{{ details.title|upper }}</h3>
            <h5 class="title"><strong>Categorie: {{ details.categories.name }}</strong></h5>
  
            <div class="product__details__rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-o"></i>
              <span>({{ details.view_annonce}} reviews)</span>
            </div>
            <div class="product__details__price">{{ details.budget|intcomma }} DZ</div>
            <p>{{ details.description }}</p>
  
            
            {% if user.is_authenticated %}
            {% if user.profile == details.owner %}
  
            <a href="{{ details.get_delete_url }}" class="heart-icon" title="delete"><i class="fa fa-trash-o"></i></a>
            <a href="{{ details.get_update_url }}" class="heart-icon" title="edit"><i
                class="fa fa-pencil-square-o"></i></i></a>
            {% endif %}
            
            {% endif%}
            <ul>
  
              <li><b>Auteur(e)</b> <span>{{ details.owner.profile_user.username }}</span></li>
              <li><b>Email</b> <span>{{ details.owner.profile_user.email }}</span></li>
              <li><b>Tag</b> <span>{{ details.categories}}</span></li>
              <li><b>Creer</b> <span>{{ details.created }}</span></li>
              <li><b>Status</b> <span>{{ details.status|capfirst }}</span></li>
              
              
            </ul>
            <br>
            <br>
  
            <div class="row">
              <div class="col-12">
  
                <button id="btn-commentaires" type="button" class="btn btn-secondary"> Commentaires </button>
              </div>
              <br>
              <div id="commentaires" class="col-sm-6 well" style="display:none ;">
  
                <div class="main-comment-section">
  
                
  
  
  
                </div>
                <div class="message-sender">
                  <!-- <a href="/Annonce/message/{{details.owner.pk}}"> -->
                    <h5 class="primary-btn"> Send Mp </h5>
                  </a>
  
                </div>
  
  
              </div>
  
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </section>

{% endblock content1 %}
{% block content2 %}{% endblock content2 %}
{% block content3 %}{% endblock content3 %}
{% block content4 %}{% endblock content4 %}
{% block content5 %}{% endblock content5 %}
{% block content6 %}{% endblock content6 %}